/* Developed by Siddharth R Bhardwaj, 22112028 */


li{
    list-style-type: none;
    display: flex;
    padding: 15px;
}

.navbarr{
    padding: 2vh;
    background-color:black;
}
.nav{
    display: flex;
    margin: 0px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: white;
}

.cover{
    background-image: url("tl.jpeg");
    height: 70vh;
    display: flex;
    text-align: center;
   justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
   

}
body{
    margin: 0px;
}
.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.z{
    background-color: #444;
    border-radius: 5px;
    padding: 80px;
    margin: 20px;
    font-size: 4rem;
    box-shadow: rgba(0, 0, 0, 0.6);
 color: antiquewhite;
}

.z1{
    padding: 80px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.6);
    background-image: url(p1.avif);
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.z2{
    padding: 80px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.6);
    background-image: url(porche2.avif);
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;

}

.leftpush{
    margin-left: auto;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}